#book {
    width: 75px;
}

.buy-sell-button {
    border-radius: 10px;
    border: 2px solid orange;
    font-size: 15pt;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px 4px 4px #888888
}

#buy-button {
    background-color: green
}

#sell-button {
    background-color: red
}

#price-pos-plot {
    width: 1000px;
    height: 600px;
}

#trade-table {
    width: 600px;
}